<%= stylesheet_link_tag "home.scss"%>
<html>
<body>
<h1> <u> Personal Details </u> </h1>
<%= image_tag("person.jpeg")%>
<h3> <i> Name: </i> Jini Kuriakose </h3>
<h3> <i> Age: </i> 24 </h3>
<h3> <i> Address: </i> Ernakulam </h3>
<h3> <i> Employed At: </i> Ruby Software </h3>
<h3> <p> <%= link_to "Qualifications", home_qualifications_path %> </p> </h3>
</body>
</html>