<%= stylesheet_link_tag "home.scss"%>
<html>
<body id = "qualify">

<h1> <u> Qualification Details </u> </h1>
<h3> <i> MTech in Computer Science and Engineering </i> </h3>
<h3> <i> BTech in Computer Science and Engineering </i> </h3>
<h3> <p> <%= link_to "HomePage", home_details_path%>

</body>
</html>